<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "admin/adminIndex.html">
<div layout:fragment = "admin_page_table">

    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{/admin/users/update}" method="POST" id="update_or_delete_form">
                <input type="hidden" name="old_email" th:value="${user.email}">
                <div class="form-group">
                    <label th:text="#{label.email}"></label>
                    <input type="email" th:value="${user.email}" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.full_name}"></label>
                    <input type="text" th:value="${user.fullname}" name="full_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success float-right">Update</button>
                </div>

                <div class="form-group">
                    <button onclick="changeAction('/admin/users/delete')" class="btn btn-danger float-right" style="margin-right: 20px">Delete</button>
                </div>

            </form>



            <br>
            <br>
            <hr>
            <h2>Roles:</h2>

            <table class="table mt-5">
                <tbody>
                <tr th:each="role : ${user.roles}">
                    <form th:action="@{/admin/users/revokeRole}" method="POST">
                        <input type="hidden" name="email" th:value="${user.email}">
                        <input type="hidden" name="role_id" th:value="${role.id}">
                        <td th:text="${role.name}"></td>
                        <td>
                            <button class="btn btn-danger btn-sm float-right" type="submit" style="width:30px;height:30px;">-</button>
                        </td>
                    </form>
                </tr>
                <tr th:each="role : ${roles}">
                    <form th:action="@{/admin/users/assignRole}" method="POST">
                        <input type="hidden" name="email" th:value="${user.email}">
                        <input type="hidden" name="role_id" th:value="${role.id}">
                        <td th:text="${role.name}"></td>
                        <td>
                            <button class="btn btn-success btn-sm float-right" type="submit" style="width:30px;height:30px;">+</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        const changeAction = (action) => {
            document.getElementById('update_or_delete_form').action = action;
            alert(action);
        }
    </script>

</div>
</html>