.carousel-inner > div > img {
    width: 700px;
    height: 500px;
}

.list-group > li > a {
    font-weight: bold;
    color: black;
}

.list-group-item.active{
    font-weight: bold;
    font-size: 20px;
    color: white !important;
}
