<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/user/main.html">
<div layout:fragment = "site_content">

    <div class="row mt-5">
        <div class="col-6 offset-3">
            <img th:src="@{'/viewphoto/'+${currentUser.user_avatar}}" style="width: 90%; height: 350px">

            <form th:action="@{/user/update_picture}" method="POST" id="" class="mt-5 mb-5 was-validated" enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="avatar"  accept=".png, .jpg, .jpeg" required>
                    <label class="custom-file-label" for="validatedCustomFile" th:text="#{profile.avatar_input}"></label>
<!--                    <div class="invalid-feedback">Example invalid custom file feedback</div>-->
                    <button class="btn btn-success mt-2" th:text="#{profile.avatar_upload}"></button>
                </div>
            </form>



            <form th:action="@{/user/update_profile}" method="POST" class="mt-5 mb-5">
                <div class="form-group">
                    <label th:text="#{label.email}"></label>
                    <input type="email" th:value="${currentUser.email}" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.full_name}"></label>
                    <input type="text" th:value="${currentUser.fullname}" name="full_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success float-right" th:text="#{profile.update_profile}"></button>
                </div>
            </form>


            <form th:action="@{/user/update_password}" method="POST" class="mt-5 mb-5">
                <div class="form-group">
                    <label th:text="#{profile.old_password}"></label>
                    <input type="password" name="old_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{profile.new_password}"></label>
                    <input type="password" name="new_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{profile.retype_new_password}"></label>
                    <input type="password" name="retype_new_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success float-right" th:text="#{profile.update_password}"></button>
                </div>
            </form>
        </div>
    </div>

</div>
</html>