<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
<div layout:fragment = "site_content">

    <div class="row mt-5">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active"><a href="/admin"><span>Categories</span></a></li>
                <li class="list-group-item"><a href="/admin?type=all"><i class="fas fa-shopping-basket"></i> <span th:text="#{category.all}"></span></a></li>
                <li class="list-group-item"><a href="/admin?type=laptop"><i class="fas fa-laptop"></i> <span th:text="#{category.laptops}"></span></a></li>
                <li class="list-group-item"><a href="/admin?type=phone"><i class="fas fa-mobile"></i> <span th:text="#{category.phones}"></span></a></li>
                <li class="list-group-item"><a href="/admin?type=watch"><i class="fas fa-clock"></i> <span th:text="#{category.watches}"></span></a></li>
                <li class="list-group-item"><a href="/admin?type=tv"><i class="fas fa-tv"></i> <span th:text="#{category.tv}"></span></a></li>
                <li class="list-group-item"><a href="/admin?type=console"><i class="fab fa-xbox"></i> <span th:text="#{category.console}"></span></a></li>
                <li class="list-group-item"><a href="/admin?type=all"><i class="fas fa-folder-plus"></i> <span th:text="#{category.other}"></span></a></li>
            </ul>

            <ul class="list-group mt-3">
                <li class="list-group-item active"W><a href="/"><span>Brands</span></a></li>
                <li class="list-group-item"><a href="/?type=all"><span>Apple</span></a></li>
                <li class="list-group-item"><a href="/?type=laptop"><span>Samsung</span></a></li>
                <li class="list-group-item"><a href="/?type=phone"><span>LG</span></a></li>
                <li class="list-group-item"><a href="/?type=watch"><span>Bosch</span></a></li>
                <li class="list-group-item"><a href="/?type=tv"><span>Zepter</span></a></li>
                <li class="list-group-item"><a href="/?type=console"><span>Xiaomi</span></a></li>
                <li class="list-group-item"><a href="/?type=all"><span>Nokia</span></a></li>
                <li class="list-group-item"><a href="/?type=all"><span>Other</span></a></li>
            </ul>


            <ul class="list-group mt-3">
                <li class="list-group-item active"><a href="/"><span>Payments</span></a></li>
            </ul>
            <div class="row mt-3 mb-5" style="font-size: 30px">
                <div class="col-4">
                    <i class="fab fa-cc-apple-pay"></i>
                </div>
                <div class="col-4">
                    <i class="fab fa-cc-visa"></i>
                </div>
                <div class="col-4">
                    <i class="fab fa-cc-paypal"></i>
                </div>

                <div class="col-4">
                    <i class="fab fa-cc-amazon-pay"></i>
                </div>
                <div class="col-4">
                    <i class="fab fa-cc-mastercard"></i>
                </div>
                <div class="col-4">
                    <i class="fab fa-cc-amex"></i>
                </div>

            </div>

        </div>

        <div class="col-9">
            <form action="/result" method="GET" class="form-inline col-12 mb-5">
                <input class="form-control w-75 mr-3" type="search" name="word" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="card mt-3 col-10"  style="width: 100%; height: auto;" >
                <img class="card-img-top" style="width:100%; height: 300px;" th:src="${item.getPictureUrl()}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.getName()}" style="color:#6DD2F7;"></h5>
                    <h5 class="card-title" th:text="${item.getPrice()}"></h5>
                    <p class="card-text" th:text="${item.getDescription()}"></p>
                    <div th:each="i : ${#numbers.sequence(0, 5)}" style="display: inline-block;">
                        <i th:if="${i < item.getStars()}" class="far fa-star" style="color: yellow"></i>
                        <i th:if="${i > item.getStars()}" class="far fa-star"></i>
                    </div>


                    <form th:action="@{/delete_item}" method="POST" class="form-group mt-3 float-right">
                        <input type="hidden" name="id" th:value="${item.getId()}">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Update</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/update_item">
                    <input type="hidden" name="id" th:value="${item.getId()}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabelLabel">Update item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="add_name">Name:</label>
                            <input type="text" class="form-control" id="add_name" name="add_name" th:value="${item.getName()}" placeholder="Name of title...">
                        </div>
                        <div class="form-group">
                            <label for="add_description">Description:</label>
                            <input type="text" class="form-control" id="add_description" name="add_description" th:value="${item.getDescription()}">
                        </div>
                        <div class="form-group">
                            <label for="add_type">Type:</label>
                            <select class="form-control" id="add_type" name="add_type">
                                <option th:value="${item.getType()}" th:text="${item.getType()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="add_price">Price:</label>
                            <input type="number" class="form-control" id="add_price" name="add_price" th:value="${item.getPrice()}">
                        </div>
                        <div class="form-group">
                            <label for="add_amount">Amount:</label>
                            <input type="number" class="form-control" id="add_amount" name="add_amount" th:value="${item.getAmount()}">
                        </div>
                        <div class="form-group">
                            <label for="add_stars">Stars:</label>
                            <input type="number" class="form-control" id="add_stars" name="add_stars" th:value="${item.getStars()}">
                        </div>
                        <div class="form-group">
                            <label for="add_picture_url">Picture Url:</label>
                            <input type="text" class="form-control" id="add_picture_url" name="add_picture_url" th:value="${item.getPictureUrl()}">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >ADD</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</html>